<div class='container-fluid text-center'>
    <h1>About Page</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec velit urna, consequat ut nibh a, facilisis commodo sem. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed varius libero at scelerisque mattis. Nullam a diam nibh. Etiam pellentesque tristique convallis. Praesent sit amet arcu bibendum, lobortis nisl vitae, convallis nisl. Fusce placerat urna at egestas aliquet. Vivamus sit amet purus non quam finibus tincidunt sit amet at urna. Proin pharetra diam tortor, ultricies tempor quam consequat sed. Morbi sed est non dolor elementum convallis. Phasellus quis lectus arcu. Aenean imperdiet sem eu leo consequat cursus.</p>
</div>